@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1668127798424') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-raspberrypi:before {
  content: "\ea2e";
}

.icon-task:before {
  content: "\e732";
}

.icon-docker:before {
  content: "\e6e1";
}

.icon-kubernetes:before {
  content: "\ebee";
}

.icon-a-xinhaowangluo-01:before {
  content: "\e7a6";
}

.icon-a-xinhaowangluo-04:before {
  content: "\e7a7";
}

.icon-a-xinhaowangluo-02:before {
  content: "\e7a8";
}

.icon-a-xinhaowangluo-03:before {
  content: "\e7a9";
}

